.cardImage {
    max-width: 250px;
    height: 220px; /* Set a fixed height */
    object-fit: cover; /* This is key to prevent stretching */
    background-color: var(--project-card-bg);
    border-radius: 20px;
  }